html
{
  font-size: 6.25%;
}
body
{
  font: size 16rem; ;
}
*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section
{
  width: 1000px;
  height: 1000px;
  display: flex;
  justify-content: center;

}
.flex
{
  display: flex;
  position: absolute;
  box-sizing: border-box;
  border: 2px solid;
  background-color: #A60321 ;
  margin: auto;
  width: 500px;
  height: 50px;
  top: 380px;
  align-items: center;
  align-self: flex-end;
}
#spam
{
  position: absolute;
  width: 50px;
  height: 40px;
  margin: 5px;
  left: 70px;
  align-self: center;
  
}
#name
{
  position: absolute;
  width: 200px;
  height: 40px;
  margin: 5px;
  right: 150px;
}
h3
{
  position: absolute;
  width: 200px;
  height: 40px;
  margin: 5px;
  right: 100px;
  top: 10px;
  font-size: 16rem;
}
.grid
{
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    ". . ."; 
   border: 2px solid;
  background-color:#D98162;
  width: 500px;
  height: 250px;
  top: 100px;
}
#man
{
  position: absolute;
  height: 125px;
  width: 125px;
  grid-column-start: 2;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: auto;
}
#con
{
  position: absolute;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: auto;
  width: 120px;
  margin: 12px;
  
}
.ayuda
{
  position: absolute;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 1;
  font-size: 16rem;
}



section > * {
  margin: 20px;
}



















h1
{
  position: relative;
  margin:30px;
  text-align: center;
  font-size: 30rem ;
}

  @media (max-width: 400px) {
    h1
    {
      color: #A60321;
    }
    
  }
ul
{
  position: relative;
  margin:30px;
  left: 75px;
  text-align: center;
}
footer
{
  position: relative;
  margin: auto;
  top: 50px;
  text-align: center;
}