*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flex
{
  display: flex;
  position: relative;
  box-sizing: border-box;
  border: 2px solid;
  background-color: rgb(255, 145, 0);
  margin: auto;
  width: 500px;
  height: 50px;
  align-items: center;
}
#spam
{
  position: absolute;
  width: 50px;
  height: 40px;
  margin: 5px;
  left: 70px;
  align-self: center;
  
}
#name
{
  position: absolute;
  width: 200px;
  height: 40px;
  margin: 5px;
  right: 150px;
}
h3
{
  position: absolute;
  width: 200px;
  height: 40px;
  margin: 5px;
  right: 100px;
  top: 10px;
}
.grid
{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    ". . ."; 
   border: 2px solid;
  background-color: blue;
  width: 500px;
  height: 250px;
  margin: auto;
  top: 5px;
}
#man
{
  position: absolute;
  height: 125px;
  width: 125px;
  grid-column-start: 2;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: auto;
}
#con
{
  position: absolute;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: auto;
  width: 120px;
  margin: 12px;
  
}
.ayuda
{
  position: absolute;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 1;
}






















h1
{
  position: relative;
  margin:30px;
  text-align: center;
}
ul
{
  position: relative;
  margin:30px;
  left: 75px;
  text-align: center;
}
footer
{
  position: relative;
  margin: auto;
  top: 50px;
  text-align: center;
}